**Q1. Write a code to reverse a string.**

In [2]:
#Method 1
str1=input("Enter a string you want to reverse:\n")
rev_str1=str1[::-1]
print(f"The reverse of {str1} is {rev_str1}")

#Method2
str2=input("Enter a string you want to reverse:\n")
rev_str2=""
for char in str2:
  rev_str2=char+rev_str2
print(f"The reverse of {str2} is {rev_str2}")

Enter a string you want to reverse:
Anubhav
The reverse of Anubhav is vahbunA
Enter a string you want to reverse:
Anubhav
The reverse of Anubhav is vahbunA

**Q2. Write a code to count the number of vowels in a string.**

In [4]:
a=input("Enter your text\n")
count=0
for char in a:
  if char=="a" or char=="e" or char=="i" or char=="o" or char=="u":
    count+=1
print(f"The number of vowels in {a} is {count}")

Enter your text
zebra
The number of vowels in zebra is 2

**Q3.  Write a code to check if a given string is a palindrome or not**

In [12]:
txt=input("Enter the text you want to check\n").lower()
reversed=txt[::-1]
if txt==reversed:
  print(f"{txt} is a palindrome")
else:
  print(f"{txt} is not a palindrome")

Enter the text you want to check
Radar
radar is a palindrome

**Q4. Write a code to check if two given strings are anagrams of each other**

In [16]:
#Anagrams are those two words that if one gets rearranged becomes the second word.
#Logic1. occurence of letters in both words are accurate
#Logic2. if sorted they will become same word.

#Using Logic 1
from collections import Counter
s1=input("Enter the first string for logic1\n").replace(" ","").lower()
s2=input("Enter the second string for logic1\n").replace(" ","").lower()

#lets check the length of both strings
if len(s1)==len(s2):
  if Counter(s1)==Counter(s2):
    print(f"{s1} and {s2} are anagrams")
  else:
    print(f"{s1} and {s2} are not anagrams")
else:
    print(f"{s1} and {s2} are not anagrams")

#Using logic2
s3=input("Enter the first string for logic2\n").replace(" ","").lower()
s4=input("Enter the second string for logic2\n").replace(" ","").lower()
if sorted(s3)==sorted(s4):
  print(f"{s3} and {s4} are anagrams")
else:
  print(f"{s3} and {s4} are not anagrams")

Enter the first string for logic1
dormitory
Enter the second string for logic1
dirty room
dormitory and dirtyroom are anagrams
Enter the first string for logic2
dormitory
Enter the second string for logic2
dirty room
dormitory and dirtyroom are anagrams

**Q5.  Write a code to find all occurrences of a given substring within another string.**

In [24]:
main_string = input("Enter the main string:\n ").lower()
sub_string = input("Enter the substring:\n ").lower()
count = 0
index = main_string.find(sub_string)
while index != -1:
    count += 1
    index = main_string.find(sub_string, index + 1)
print(f"The substring '{sub_string}' occurs {count} times in the main string '{main_string}'.")

Enter the main string:
 This string is blowing my mind.This string will mind its business
Enter the substring:
 this string
The substring 'this string' occurs 2 times in the main string 'this string is blowing my mind.this string will mind its business'.

**Q6.  Write a code to perform basic string compression using the counts of repeated characters**

In [27]:
str3 = input("Enter the string to compress: ")
compressed = ""
count = 1
for i in range(1, len(str3)):
    if str3[i] == str3[i - 1]:
        count += 1
    else:
        compressed += str3[i - 1] + str(count)
        count = 1
compressed += str3[-1] + str(count)
print(f"Compressed string: {compressed}")

Enter the string to compress: aaddffghw
Compressed string: a2d2f2g1h1w1

Q7. Write a code to determine if a string has all unique characters

In [43]:
str4=input("Enter a text\n").replace(" ","")
str4_set=set(str4)
str4_list=list(str4)
if len(str4_list)==len(str4_set):
  print(f"{str4} has all unique characters")
else:
  print(f"{str4} has duplicate characters")

Enter a text
Mr Jock TV quiz PhD  bags few lynx.
MrJockTVquizPhDbagsfewlynx. has all unique characters

Q8.  Write a code to convert a given string to uppercase or lowercase

In [45]:
str5= input("Enter your text: ")
str5_uc=str5.upper()
str5_lc=str5.lower()
print(f"Original:{str5}\nUppercase:{str5_uc}\nLowercase:{str5_lc}")

Enter your text: Yahoo is better than Google
Original:Yahoo is better than Google
Uppercase:YAHOO IS BETTER THAN GOOGLE
Lowercase:yahoo is better than google

**Q9.  Write a code to count the number of words in a string**

In [50]:
str9= input("Enter your text: ").split()
count=0
for char in str9:
  count+=1
print(f"No of words: {count}")

Enter your text: Anubhav Issachar is thinking too much
No of words: 6

**Q10.Write a code to concatenate two strings without using the + operator**

In [57]:
str6=input("Enter first text").split()
str7=input("Enter second text").split()
str6.extend(str7)
concatenated_string=" ".join(str6)
print(concatenated_string)

Enter first textanubhav
Enter second textissachar
anubhav issachar

**Q11.  Write a code to remove all occurrences of a specific element from a list**

In [74]:
list1 = input("Enter elements of the list separated by spaces: ").split()
element_to_remove = input("Enter the element to remove: ")

while element_to_remove in list1:
    list1.remove(element_to_remove)

print("Updated list:", list1)

Enter elements of the list separated by spaces: a a a ab b b b 1 1 1 1
Enter the element to remove: a
Updated list: ['ab', 'b', 'b', 'b', '1', '1', '1', '1']

Q12. Implement a code to find the second largest number in a given list of integers

In [75]:
list2 = input("Enter elements of the list separated by spaces: ").split()
a=sorted(list2)[-2]
print(f"The second largest number in the list is {a}")

Enter elements of the list separated by spaces: 67 34 90 56 45 96 -123 -345 -2 -4 0
The second largest number in the list is 90

Q13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [76]:
list3 = input("Enter elements of the list separated by spaces: ").split()
count_dict = {}

for element in list3:
    if element in count_dict:
        count_dict[element] += 1
    else:
        count_dict[element] = 1

print(f"Original list:", {list3})
print(f"Occurrences of each element:", {count_dict})

Enter elements of the list separated by spaces: 11 12 12 14 11 12 14 12 14 12
Original list: ['11', '12', '12', '14', '11', '12', '14', '12', '14', '12']
Occurrences of each element: {'11': 2, '12': 5, '14': 3}

**Q14.  Write a code to reverse a list in-place without using any built-in reverse function**

In [77]:
list4 = input("Enter elements of the list separated by spaces: ").split()

left = 0
right = len(list4) - 1

while left < right:
    list4[left], list4[right] = list4[right], list4[left]
    left += 1
    right -= 1
print(f"Reversed list:, {list4}")

Enter elements of the list separated by spaces: 1 2 3 4 5 6
Reversed list: ['6', '5', '4', '3', '2', '1']

**Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements**

In [81]:
list5 = input("Enter elements of the list separated by spaces: ").split()
set1=set()
unique_list = []

for element in list5:
    if element not in set1:
        set1.add(element)
        unique_list.append(element)

print(f"Original list:{list5}")
print(f"List with duplicates removed:{unique_list}")

Enter elements of the list separated by spaces: 1 2 4 5 6 5 4 1 2
Original list:['1', '2', '4', '5', '6', '5', '4', '1', '2']
List with duplicates removed:['1', '2', '4', '5', '6']

**Q16.  Create a code to check if a given list is sorted (either in ascending or descending order) or nOT**

In [84]:
my_list = input("Enter elements of the list separated by spaces: ").split()

if my_list == sorted(my_list):
    print("The list is sorted in ascending order.")
elif my_list == sorted(my_list, reverse=True):
    print("The list is sorted in descending order.")
else:
    print("The list is not sorted.")

Enter elements of the list separated by spaces: 5 4 3 2 1
The list is sorted in descending order.

**Q17.  Write a code to merge two sorted lists into a single sorted list.**

In [88]:
list6 = input("Enter elements of the first list separated by spaces: ").split()
list7 = input("Enter elements of the second list separated by spaces: ").split()

list6=sorted([int(x) for x in list6])
list7=sorted([int(x) for x in list7])

list6.extend(list7)
list8=sorted(list6)
print(f"Merged list:{list8}")

Enter elements of the first list separated by spaces:   12 23 7 14 8 5
Enter elements of the second list separated by spaces: 6 2 8 4 54 7
Merged list:[2, 4, 5, 6, 7, 7, 8, 8, 12, 14, 23, 54]

**Q18. Implement a code to find the intersection of two given list**

In [91]:
from collections import Counter
my_list = input("Enter elements of the list separated by spaces: ").split()
my_list2 = input("Enter elements of the list separated by spaces: ").split()
my_list.extend(my_list2)
counts = Counter(my_list)
print(counts)
duplicates={}
for item,count in counts.items():
  if count>1:
    print(f"The element {item} is repeated {count} times")
    duplicates[item]=count
intersection=list(duplicates.keys())
print(f"The intersection of the list is {intersection}")

Enter elements of the list separated by spaces: a b c d
Enter elements of the list separated by spaces: d e f g
Counter({'d': 2, 'a': 1, 'b': 1, 'c': 1, 'e': 1, 'f': 1, 'g': 1})
The element d is repeated 2 times
The intersection of the list is ['d']

**Q19. Create a code to find the union of two lists without duplicate**

In [1]:
list1 = input("Enter elements of the first list separated by spaces: ").split()
list2 = input("Enter elements of the second list separated by spaces: ").split()

union_set = set(list1) | set(list2)

union_list = list(union_set)

print(f"Union of the two lists without duplicates:{union_list}")

Enter elements of the first list separated by spaces: 1 2 3 4 5
Enter elements of the second list separated by spaces: 3 4 5 6 7 8
Union of the two lists without duplicates:['6', '5', '4', '3', '1', '8', '7', '2']

**Q20. Write a code to shuffle a given list randomly without using any built-in shuffle function**

In [3]:
import random

list9 = input("Enter elements of the list separated by spaces: ").split()
print(f"Actual List:{list9}")
for i in range(len(list9)):
    j = random.randint(0, len(list9) - 1)
    list9[i], list9[j] = list9[j], list9[i]

print(f"Shuffled list:{list9}")

Enter elements of the list separated by spaces: 1 2 3 4 5
Actual List:['1', '2', '3', '4', '5']
Shuffled list:['3', '5', '4', '2', '1']

**Q21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples**

In [4]:
tuple1 = input("Enter elements of the first tuple separated by spaces: ").split()
tuple2 = input("Enter elements of the second tuple separated by spaces: ").split()

tuple1 = tuple(tuple1)
tuple2 = tuple(tuple2)

common_elements = tuple(item for item in tuple1 if item in tuple2)

print(f"Common elements: {common_elements}")

Enter elements of the first tuple separated by spaces: 1 2 3 4 5 6
Enter elements of the second tuple separated by spaces: 5 6 7 8 9 0
Common elements: ('5', '6')

**Q22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets**

In [5]:
set1_USER = input("Enter the first set of integers separated by commas: ")
set2_USER = input("Enter the second set of integers separated by commas: ")

set1 = {int(x) for x in set1_USER.split(',')}
set2 = {int(x) for x in set2_USER.split(',')}

intersection = set1.intersection(set2)

print("Intersection of the two sets:", intersection)

Enter the first set of integers separated by commas: 1,2,3,4,5,6,7
Enter the second set of integers separated by commas: 3,4,5,6,7,8,9
Intersection of the two sets: {3, 4, 5, 6, 7}

**Q23.  Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuple**

In [6]:
tuple3_input = input("Enter elements of the first tuple separated by spaces: ").split()
tuple4_input = input("Enter elements of the second tuple separated by spaces: ").split()

tuple3 = tuple(tuple3_input)
tuple4 = tuple(tuple4_input)

result_tuple = tuple3 + tuple4

print(f"Concatenated tuple:{result_tuple}")

Enter elements of the first tuple separated by spaces: 1 2 3 4 5 6 7 8 9
Enter elements of the second tuple separated by spaces: a b c d e f g
Concatenated tuple:('1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g')

**Q24.  Develop a code that prompts the user to input two sets of strings. Then,print the elements that are present in the first set but not in the second set**

In [7]:
set1_input = input("Enter the first set of strings separated by commas: ")
set2_input = input("Enter the second set of strings separated by commas: ")

set1 = {s.strip() for s in set1_input.split(',')}
set2 = {s.strip() for s in set2_input.split(',')}

difference = set1 - set2

print(f"Elements in the first set but not in the second set:{difference}")

Enter the first set of strings separated by commas: 1,2,3,4,5
Enter the second set of strings separated by commas: 2,3,4,5,6,7,8
Elements in the first set but not in the second set:{'1'}

Q25.  Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [8]:
tuple_input = input("Enter elements of the tuple separated by spaces: ").split()
original_tuple = tuple(tuple_input)
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))
result_tuple = original_tuple[start_index:end_index]
print(f"New tuple with elements in the specified range:{result_tuple}")

Enter elements of the tuple separated by spaces: 23 45 65 67 45 34 4
Enter the start index: 2
Enter the end index: 4
New tuple with elements in the specified range:('65', '67')

**Q26, Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets**

In [9]:
set5_input = input("Enter the first set of characters separated by spaces: ")
set6_input = input("Enter the second set of characters separated by spaces: ")

set5 = {char for char in set5_input.split()}
set6 = {char for char in set6_input.split()}

union_set = set5.union(set6)

print(f"Union of the two sets:{union_set}")

Enter the first set of characters separated by spaces: a b c d w e q r
Enter the second set of characters separated by spaces: q w e r t y
Union of the two sets:{'d', 'q', 'e', 'w', 'y', 'a', 'r', 'b', 'c', 't'}

**Q27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking**

In [10]:
tuple_input = input("Enter integers for the tuple separated by spaces: ").split()
original_tuple = tuple(int(x) for x in tuple_input)
max_value = max(original_tuple)
min_value = min(original_tuple)
print(f"Maximum value:{max_value}")
print(f"Minimum value:{min_value}")

Enter integers for the tuple separated by spaces: 1 2 3 4 5 6 7
Maximum value:7
Minimum value:1

**Q28.  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets**

In [11]:
set7 = {1, 2, 3, 4, 5}
set8 = {4, 5, 6, 7, 8}

union_set = set7.union(set8)
intersection_set = set7.intersection(set8)
difference_set = set7.difference(set8)

print(f"Union of the two sets:{union_set}")
print(f"Intersection of the two sets:{intersection_set}")
print(f"Difference (set1 - set2):{difference_set}")

Union of the two sets:{1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the two sets:{4, 5}
Difference (set1 - set2):{1, 2, 3}

**Q29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple**

In [12]:
tuple_input = input("Enter elements of the tuple separated by spaces: ").split()
original_tuple = tuple(tuple_input)

element_input = input("Enter the element to count: ")

count = original_tuple.count(element_input)

print(f"Count of occurrences of {element_input} in the tuple:{count}")

Enter elements of the tuple separated by spaces: a b c d a a a b s f g
Enter the element to count: a
Count of occurrences of a in the tuple:4

**Q30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets**

In [14]:
set1_input = input("Enter the first set of strings separated by commas: ")
set2_input = input("Enter the second set of strings separated by commas: ")
set1 = {s.strip() for s in set1_input.split(',')}
set2 = {s.strip() for s in set2_input.split(',')}
symmetric_difference = set1.symmetric_difference(set2)
print(f"Symmetric difference of the two sets: {symmetric_difference}")

Enter the first set of strings separated by commas: a,b,c,d,w,e,r
Enter the second set of strings separated by commas: q,w,e,r,t,y
Symmetric difference of the two sets: {'d', 'q', 'y', 'a', 'b', 'c', 't'}

**Q31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list**

In [16]:
words_input = input("Enter a list of words separated by spaces: ").split()
word_frequencies = {}
for word in words_input:
    word_frequencies[word] = word_frequencies.get(word, 0) + 1
print(f"Word frequencies:{word_frequencies}")

Enter a list of words separated by spaces: anubhav issachar anubhav issachar pwskills
Word frequencies:{'anubhav': 2, 'issachar': 2, 'pwskills': 1}

Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [17]:
dict1_input = input("Enter the first dictionary (key:value pairs separated by commas): ")
dict1 = dict(item.split(':') for item in dict1_input.split(','))

dict2_input = input("Enter the second dictionary (key:value pairs separated by commas): ")
dict2 = dict(item.split(':') for item in dict2_input.split(','))

dict1 = {k: int(v) for k, v in dict1.items()}
dict2 = {k: int(v) for k, v in dict2.items()}

merged_dict = dict1.copy()

for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value

print("Merged dictionary:", merged_dict)

Enter the first dictionary (key:value pairs separated by commas): Oranges:2,Mangoes:3,Potato:3,Tomato:4
Enter the second dictionary (key:value pairs separated by commas): Oranges:1,Mangoes:4,Potato:1,Tomato:5,Apple:5
Merged dictionary: {'Oranges': 3, 'Mangoes': 7, 'Potato': 4, 'Tomato': 9, 'Apple': 5}

**Q33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None**

In [20]:
nested_dictionary = {
    'samosa': {
        'type': 'savory',
        'filling': 'spiced potatoes',
        'fun_fact': 'Often enjoyed with mint chutney, they disappear faster than you can say "chai!"'
    },
    'jalebi': {
        'type': 'sweet',
        'shape': 'spiral',
        'fun_fact': 'Fried and soaked in sugar syrup, itâ€™s a delight that dances on your tongue!'
    },
    'biryani': {
        'type': 'main course',
        'flavor': 'aromatic',
        'fun_fact': 'A plate of biryani can start a family feud over the last morsel!'
    }
}

keys_input = input("Enter the Indian snack keys separated by spaces (e.g., samosa fun_fact): ").split()

current_value = nested_dictionary

for key in keys_input:
    if key in current_value:
        current_value = current_value[key]
    else:
        current_value = None
        break

if current_value is None:
    print(f"Oops! It seems like that snack is missing from our Indian snack festival!: {current_value}")
else:
    print(f"The secret about your snack is: {current_value}")

Enter the Indian snack keys separated by spaces (e.g., samosa fun_fact): chamcham shape
Oops! It seems like that snack is missing from our Indian snack festival!: None

**Q34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order**

In [21]:
books = {
    "The Great Gatsby": 4.3,
    "To Kill a Mockingbird": 4.8,
    "1984": 4.2,
    "Pride and Prejudice": 4.6,
    "The Catcher in the Rye": 3.8
}

order_input = input("Do you want to sort the books in ascending or descending order? (a/d): ").strip().lower()

if order_input == 'a':
    sorted_books = dict(sorted(books.items(), key=lambda item: item[1]))
elif order_input == 'd':
    sorted_books = dict(sorted(books.items(), key=lambda item: item[1], reverse=True))
else:
    sorted_books = {}
    print("Invalid input! Please enter 'a' for ascending or 'd' for descending.")

if sorted_books:
    print("Sorted books based on ratings:")
    for title, rating in sorted_books.items():
        print(f"{title}: {rating}")

Do you want to sort the books in ascending or descending order? (a/d): D
Sorted books based on ratings:
To Kill a Mockingbird: 4.8
Pride and Prejudice: 4.6
The Great Gatsby: 4.3
1984: 4.2
The Catcher in the Rye: 3.8

**Q35.  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.**

In [22]:
movies = {
    "Inception": "Christopher Nolan",
    "Interstellar": "Christopher Nolan",
    "The Matrix": "Lana Wachowski, Lilly Wachowski",
    "Pulp Fiction": "Quentin Tarantino",
    "Django Unchained": "Quentin Tarantino"
}
inverted_movies = {}

for movie, director in movies.items():
    if director in inverted_movies:
        inverted_movies[director].append(movie)
    else:
        inverted_movies[director] = [movie]

print("Inverted dictionary of directors and their movies:")
for director, movie_list in inverted_movies.items():
    print(f"{director}: {', '.join(movie_list)}")

Inverted dictionary of directors and their movies:
Christopher Nolan: Inception, Interstellar
Lana Wachowski, Lilly Wachowski: The Matrix
Quentin Tarantino: Pulp Fiction, Django Unchained